.admin{
    /* background-color: var(--admin-primary); */
    background-color: #212096;
    width: 100%;
    height: 100vh;
    display: flex;
}

.sublink{
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    padding-left: 2rem!important;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    transition: all 0.2s ease;
}
.sublink:hover{
    color: #7a78ff;
}

.ad__container{
    width: 100%;
    height: 100vh;
    padding: 1.4rem 2rem;
    position: relative;
    overflow: hidden;
}



/* NAVBAR */
.ad__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__col__1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.shortcuts{
    margin-right: 6px;
    display: flex;
    gap: 10px;
}
.s_ic_{
    padding: 6px!important;
}
.search{
    padding: 6px 10px !important;
}
.search input{
    /* color: var(--admin-color-white); */
    color: #fff;
    padding-right: 8px;
}
.search input:focus{
    outline: none;
}
.s_ic, .s_ic_, .search{
    /* color: var(--admin-color-white); */
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;
    border-radius: 3px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: color 0.2s ease;
}
.s_ic:hover{
    color: #7a78ff;
}
.user{
    display: flex;
    align-items: center;
    gap: 8px;
}
.user__{
    display: flex;
    flex-direction: column;
    text-align: right;
    /* color: var(--admin-color-white); */
    color: #fff;
    font-size: 14px;
}
.username{
    /* color: var(--admin-color-white-3); */
    color: #9590f0;
    margin-top: -8px;
    font-size: 12px;
}
.userImage{
    width: 40px;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255, 0.5);
}
.pageTitle{
    /* color: var(--admin-color-heading); */
    color: #fff!important;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1.5rem 0px;
    text-align: left!important;
}


/* BACKGROUND-COLOR */
.bg__dark__{
    /* background-color: var(--admin-primary-second); */
    background-color: #0c143d;
    position: absolute;
    width: 100%;
    height: 68%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.bg__blue__{
    background-color: #222199;
    position: absolute;
    width: 100%;
    height: 32%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* CARDS */
.cards{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
}
.card{
    padding: 2rem 1rem;
    flex: 1;
    border-radius: 7px;
    color: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details span{
    font-size: 2rem;
    font-weight: bold;
}
.title span{
    font-size: 14px;
}
.cards .title{
    text-align: left!important;
}
/* CHARTS */
.charts{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0px;
    gap: 1rem;
}
.chart{
    flex: 1;
    /* background-color: var(--admin-chart-bg); */
    background-color: #18254f;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
}
.tradingview-widget-container{
    width: 100%!important;
    height: 340px!important;
}


@media screen and (max-width: 760px){
   
    .ad__link__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    
    .cards, .charts{
        flex-direction: column;
    }
    .admin{
        height: auto;
    }
    .s_ic_{
        padding: 2px!important;
    }
    .s_ic{
        padding: 1px!important;
    }
    .s_ic.hide{
        display: none;
    }
    .ad__container{
        height: auto;
        padding-left: 1rem;
    }
    .card{
        padding: 1rem;
    }
    .cards{
        gap: 0.6rem;
    }
    .search{
       display: none;
    }
    .shortcuts{
        gap: 2px;
        margin-right: 3px;
    }
    .navbar__col__1{
        gap: 4px;
    }
}