.copyexpert__container{
    flex-direction: column;
    color: var(--text-gray);
    background-color: #fff;
    padding: 0.5rem 0;
    margin-bottom: 2.6rem;
}
.copyexpert__container h3{
    text-align: center;
    font-size: 2rem;
    color: #000;
    margin: 2rem 0;
}
.copyexpert__rows{
    display: flex;
    gap: 1.4rem;
}
.copyexpert__col__1{
    flex: 1.5;
}
.copyexpert__col__1 p{
    margin-bottom: 1rem;
    text-align: justify;
}

.copyexpert__col__2{
    flex: 1;
}

@media screen and (max-width: 760px){
    .copyexpert__rows{
        flex-direction: column;
    }
}