@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --foreground-rgb: 0, 0, 0;
  --primary-color: #6648fe;
  --secondary-color: #04b897;
  --background-color: #000;
  --background-color-2: #000;

  --dark__: #000;
  --dark: #000;
  --dark-primary: #fff;
  --background-color: #f4f7fd;
  --background-color-2: #fff;
  --admin-primary: #e1e4f0;
  --admin-primary-second: #c1c3cc;
  --sidebar-primary: #dcd8fd;
  --admin-dark: #9f98d8;
  --admin-chart-bg: #eef1ff;
  --admin-color-white-2: #000;
  --admin-color-white: #000;
  --admin-color-gray: #777;
  --admin-color-heading: #6648fe;
  --admin-color-white-3: #000;
  --admin-color-transparent: trnasparent;
  --dark-gray: #777;
  --dark-trans: transparent;
  
}
[data-theme='light']{

  --foreground-rgb: 0, 0, 0;
  --primary-color: #6648fe;
  --secondary-color: #04b897;
  --background-color: #000;
  --background-color-2: #000;

  
  --text-gray: #777;
  --dark-gray: #fff;
  --dark: #fff;
  --dark-trans: #fff;
  --dark__: #000;
  --orange-color: #f7921b;
  --dark-primary: #0c143d;
  --admin-primary: #212096;
  --admin-primary-second: #0c143d;
  --sidebar-primary: #3835af;
  --admin-dark: #1a254f;
  --admin-chart-bg: #18254f;
  --admin-color-white-2: #e1edf6;
  --admin-color-white: #fff;
  --admin-color-transparent: #fff;
  --admin-color-gray: #fff;
  --admin-color-heading: #fff;
  --admin-color-white-3: #9590f0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
select, input{
  background-color: var(--dark-trans)!important;
}
body {
  color: #000;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  background-color: transparent;
}
.container{

  margin: 3rem auto;
  width: 90%;
}

.cta button{
  background: linear-gradient(to bottom, var(--primary-color), #8e63f0);
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  width: 100%;
  transition: 0.2s ease all;
}
.cta button:hover{
  background: linear-gradient(to bottom, var(--secondary-color), var(--secondary-color));
  box-shadow: 0 2px 6px 0px rgba(0,0,0,0.7);
}
.cta p{
  color: var(--dark);
}
h3{
  color: var(--admin-color-white)!important;
}
.pageTitleColor{
  color: var(--admin-color-gray);
}





