.dashboard{
    margin: 2rem auto;
    width: 90%;
    display: flex;
    gap: 1rem;
}

.dashboard_, .dashboard__{
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}
.dashboard__{
    width: 100%!important;
}

.pard{
    color: #000!important;
}
@media screen and (max-width: 760px){
    .dashboard{
        flex-direction: column;
    }
}